.layerList {
  background-color: var(--RY-c-bg-soft);
  .layerItem {
    &:hover {
      background-color: var(--RY-c-bg-mute);
    }
    &.active {
      background-color: var(--RY-button-brand-active-bg);
    }
    transition: background-color 0.4s;
  }
}
